/* @import url("../../index.css"); */

* {
	color: #23395e;
	user-select: none;
}

.loginInnerContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 16rem;
	border-radius: var(--border-radius) var(--border-radius) var(--border-radius)
		var(--border-radius);

	padding: 2rem;
	font-size: 0.8rem;

	background-color: var(--color-white-l);

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 2rem;

	-moz-box-shadow: 0 0 3px #adadad;
	-webkit-box-shadow: 0 0 3px #adadad;
	box-shadow: 0 0 3px #adadad;
	z-index: 999;
}

.title {
	color: var(--color-blue-d);
}

.input {
	font-size: 0.8rem;
	font-weight: 100;
	font-family: inherit;
	color: var(--color-blue-d);
}

.input * {
	color: var(--color-blue-d) !important;
	font-family: inherit !important;
	font-weight: 100;
}

.input > div::before {
	border-color: var(--color-blue-d) !important;
	color: var(--color-blue-d) !important;
}

/* .input input {
	border: none;
	outline: none;

	width: 12rem;
	height: 2rem;

	border-bottom: 1px solid var(--color-blue-l);

	transition: 180ms ease-in-out;

	background-color: transparent;
}

.input input:focus {
	border-bottom: 1px solid var(--color-blue-d);
	transform: scale(1.02);
} */

.forgotPassword {
	width: 12rem;

	display: flex;
	justify-content: right;

	cursor: pointer;
}

.forgotPassword p {
	transition: 250ms ease-in-out;

	color: var(--color-blue-l);
}

.forgotPassword p:hover {
	color: var(--color-blue-d-hover);
}

.loginBtn {
	width: 10rem;
	height: 2rem;

	border: none;
	background-color: var(--color-blue-m);

	border-radius: var(--border-radius);
	color: white;

	cursor: pointer;
}

.loginBtn:hover {
	background-color: var(--color-blue-m-hover);
}

.cancelBtn {
	width: 10rem;
	height: 2rem;

	border: none;
	background-color: var(--color-red);

	border-radius: var(--border-radius);
	color: white;

	cursor: pointer;
}

.cancelBtn:hover {
	background-color: var(--color-red-hover);
}

.loginError {
	color: rgb(255, 133, 133);
	font-style: italic;
}

.loginFooter {
	height: 3.5rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
