.inheritPost{
    --post-width: 70rem;
    --profile-picture: 3rem;

    height: auto;
    width: var(--post-width);
    border-radius: var(--border-radius);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    background-color: var(--color-white-m);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}

.inheritPost .postCreator {
    height: 5rem;
    width: cacl(100% - cacl(2 * var(--padding)));
    padding: 2px 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.inheritPost .postCreator  .creatorContainer {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.inheritPost .postCreator .creatorImg {
    position: relative;
    cursor: pointer;
}
.inheritPost .postCreator .creatorImg > img {
    width:var(--profile-picture);
    height: var(--profile-picture);
    border-radius: 50%;
}

.inheritPost .postCreator .creatorImg .verified {
    position: absolute;
    right: -.5rem;
    bottom: -.3rem;
    border: 1px solid var(--color-white-m);
	background-color: var(--color-white-m);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.inheritPost .postCreator .postDate{
    margin-left: auto;
}

.inheritPost .postCreator .editBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--color-blue-m);
    color: var(--color-white-l);
    box-shadow: 0px 1px 2px var(--color-blue-m);
}

.inheritPost .postContent {
    width: cacl(100% - cacl(2 * var(--padding)));
    overflow-x: hidden;
    padding: 2px 20px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inheritPost .postContent .title {
    color: var(--color-blue-d);
}
.inheritPost .postContent .content {
    color: var(--color-blue-d);
    font-size: 1.2rem;
}

.inheritPost .postContent .imageContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inheritPost .postContent img {
    border-radius: var(--border-radius);
    height: auto;
}

.inheritPost .postStatistics {
    width: var(--post-width);
    height: 4rem;
    background-color: transparent;
    margin-left: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.inheritPost .postStatistics button {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    color: var(--color-blue-d);
    align-items: center;
    border: none;
    padding: 5px 8px;
    gap: 10px;
    cursor: pointer;
    background-color: var(--color-white-l);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}

.newCommentForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1rem;
    gap: 1rem;
}
.newCommentForm .newCommentInput {
    height: 2rem;
    width: 90%;
    padding: 10px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-white-m);
    font-size: 1rem;
    color: var(--color-blue-d);
}

.newCommentForm .postCommentButton{
    width: 8rem;
    border-radius: var(--border-radius);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
    border: none;
    background-color: var(--color-white-m);
    color: var(--color-blue-d);

    display: inline-flex;
    gap: .75rem;
    align-items: center;
    justify-content: center;
}
.newCommentForm .postCommentButton h4 {
    font-size: 1rem;
}

.comments {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.postComment {
    --comment-width: 70rem;
    --profile-picture: 3rem;
    display: flex;
    flex-direction: row;
    width: var(--post-width);
    background-color: var(--color-white-m);
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}

.postComment .CommentCreator {
    margin-right: auto;
    height: 5rem;
    width: cacl(100% - cacl(2 * var(--padding)));
    padding: 2px 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.postComment .CommentCreator  .creatorContainer {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.postComment  .CommentCreator .creatorImg {
    position: relative;
    cursor: pointer;
}

.postComment .CommentCreator .creatorImg {
    position: relative;
    width:var(--profile-picture);
    height: var(--profile-picture);
    border-radius: 50%;
}

.postComment .CommentCreator .creatorImg .verified {
    position: absolute;
    right: -.5rem;
    bottom: -.3rem;
    border: 1px solid var(--color-white-m);
	background-color: var(--color-white-m);
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.postComment  .feedTitle{
    text-align: start;
    width: 100%;
}

.postComment .commentStatitics {
    margin-left: auto;
    width: 35%;
    max-width: 40%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}
.postComment .commentStatitics button {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    color: var(--color-blue-d);
    align-items: center;
    border: none;
    padding: 5px 5px;
    gap: 10px;
    cursor: pointer;
    background-color: var(--color-white-l);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}